name: SHBackups

on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Build Linux
        run: go build -v -o shbackups-linux .

      - name: Build Windows
        run: GOOS=windows GOARCH=amd64 go build -v -o shbackups-windows.exe .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: shbackups-binaries
          path: |
            shbackups-linux
            shbackups-windows.exe

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            shbackups-linux
            shbackups-windows.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
